@media (width <=784px) {
    .about-container {
        grid-template-columns: 1fr !important;
    }

    .about-container .about-image {
        display: none;
    }

    .contact-container {
        grid-template-columns: 1fr !important;
    }
}

@media (width <=948px) {
    .nav-menu {
        display: none;
    }

    .hero-container {
        grid-template-columns: 1fr;
        margin-top: 29rem;
    }

    .contact-container {
        grid-template-columns: 1fr 1fr;
    }
}